<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>trees</string>
	<key>CFBundleGetInfoString</key>
	<string>trees</string>
	<key>CFBundleIdentifier</key>
	<string>com.muxworks.trees</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>trees</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>usingBundleAsContainer</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>trees.icns</string>
</dict>
</plist>
